/* 
1. 試 cmd + / 快速鍵，這次的註解是對的了
2. 我是用 VS Code 所屬的終端機，用指令來建立 css 目錄和 style.css 檔案
3. 此時要看這檔案被套用到哪種類型，仍然要到最下方看
3.01 是 CSS 沒錯
4. 為了和上一個畫面有區別，這裡顏色是用綠色
*/
/*
5. 介紹 CSS Selectors
6. 移除 h1 selector，開始比較正式的開發
7. 引入 body
*/
body {
  /* 8 設定背景顏色 => #000000 就全黑了
       作者是設成下面這樣 */
  background-color: #f4f4f4;
  /* 9 設定文字顏色 */
  color: #555555;

  /* 10 改變字型 
      10.01 sans-serif 是無襯線的
  */
  font-family: Arial, Helvetica, sans-serif;
  /* 11 字型放大（縮小），16px 是預設值 */
  font-size: 16px;
  /* 12 粗體的話 bold可，400可；此處作者說維持預設為 normal */
  font-weight: normal;
  /* 13 上面三項可以全部在 font 一項中做完 */
  /* Same as above <= 這是作者加上的註解 */
  font: normal 16px Arial, Helvetica, sans-serif;
}
